*{
	margin: 0;
	padding: 0;
}
body{
	background: url(../img/1.jpg) no-repeat fixed center;
}
#wbg{
	background: rgba(255,255,255,0.5);
	height: 450px;
	margin-top: 200px;
	text-align: center;
	color: red;
}

/* 主页 */
#title1{
	padding-top: 70px;
	font: normal 700 65px "楷体";
}
#title1 span{
	margin: 0 -5px;
}
#title2{
	padding-top: 15px;
}
#title2,#title3{
	font: normal 700 35px "楷体";
}
#form{
	margin-top: 55px;
}
#btns{
	margin-top: 30px;
}
.btn{
	font-size: 16px;
	height: 32px;
	width: 100px;
	margin: 0 5px;
}

/* 添加名片 */
#addForm{
	height: 410px;
	width: 300px;
	font: 20px "黑体";
	color: black;
	text-align: left;
	margin: auto;
	padding-top: 40px;
}
.input{
	height: 50px;
	margin: 15px auto;
	line-height: 50px;
}
.texts{
	float: right;
	height: 30px;
	border-radius: 5px;
	font-size: 15px;
	border: 1px solid black;
	padding: 0 5px;
	margin-top: 7px;
}
#position{
	height: 30px;
	border-radius: 5px;
	margin-left: 35px;
}
#remind{
	height: 30px;
	color: red;
	font-size: 16px;
}
#submit,#back{
	height: 30px;
	width: 50px;
	border-radius: 5px;
	border: 1px solid black;
	background-color: white;
}

/* 查看名片 */
#cards{
	height: 410px;
	width: 1360px;
	font: 17px "微软雅黑";
	color: black;
	text-align: left;
	display: inline-block;
	margin: 40px auto;
}
#noCard{
	height: 100px;
	width: 500px;
	color: red;
	/* background: white; */
	line-height: 100px;
	font-size: 40px;
	text-align: center;
	margin: 80px auto;
}
.cardx{
	float: left;
	height: 150px;
	width: 300px;
	background: white;
	border-radius: 5px;
	margin: 16px 20px;
}
.cardx div{
	margin: 0 30px 5px;
}
.cardx span{
	float: right;
}
.cardxx{
	padding-top: 8px;
	font: 700 20px "黑体";
}
#showBack{
	height: 30px;
	width: 50px;
	border-radius: 5px;
	border: 1px solid black;
	background-color: white;
	position: absolute; /* 绝对定位 */
	top: 600px;
	right: 230px;
}

/* 查询名片 */	/* 删除名片 */
#query,#delete{
	height: 410px;
	font: 17px "微软雅黑";
	color: black;
	text-align: left;
	display: inline-block;
	margin: 40px auto;
}
#queryInput,#deleteInput{
	height: 30px;
	border-radius: 5px;
	font-size: 15px;
	border: 1px solid black;
	padding: 0 5px;
	margin-top: 7px;
}
#queryResult,#deleteResult{
	margin-top: 30px;
}
#queryResult1,#deleteResult1{
	font-weight: 700;
	font-size: 20px;
}
#queryResult > .cardx{
	margin-top: 30px;
}
#notFound,#deleteSuccess,#deleteFailed{
	margin-top: 80px;
	color: red;
	font-size: 40px;
	text-align: center;
}